<h1>Demonstration of obtaining data from server through a service</h1>

<h3 *ngIf=Ifadded style="color: salmon;">Recently Added Product: {{model.name}}, {{model.quantity}} </h3>

<hr>

<app-products (objMsg)='display($event)'></app-products>
