<h2 style="color: green;">Products List - Amazon</h2>

<table>
    <thead style="color: tomato;">
    <tr>
        <th>Product Name</th>
        <th>Quantity</th>
    </tr>
</thead>
<tbody style="color: royalblue;">
    <tr *ngFor="let i of ad">
        <td> {{i.name}}</td>
        <td>{{i.quantity}}</td>
    </tr>
</tbody> 
</table>
<label style="color: red;">Enter product name : </label>
<input type="text" [(ngModel)]="name">
<label style="color: red;">Enter Quantity:</label>
<input type="number" [(ngModel)]="quantity">

<button style="color:slateblue;" (click)='addtoTable()' (click)='sendMsg()'>Add Product</button>


<!--   <table mat-table [dataSource] = "addedData"  class = "mat-elevation-z8" > 
    <ng-container matColumnDef = "name">
       <th mat-header-cell *matHeaderCellDef mat-sort-header > Product Name</th>
       <td mat-cell *matCellDef = "let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef = "quantity">
      <th mat-header-cell *matHeaderCellDef  mat-sort-header> Quantity</th>
      <td mat-cell *matCellDef = "let element"> {{element.quantity}} </td>
   </ng-container>
   
    <tr mat-header-row *matHeaderRowDef = "displayedColumns"></tr>
    <tr mat-row *matRowDef = "let row; columns: displayedColumns;"></tr>    
</table> -->





    
